body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;

    overflow-y: hidden;
}

.paper {
    box-shadow: 4px 5px 4px 2px #aaa;
    padding: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    min-height: 50vh;

    margin: 1em 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    animation: fadeInDown; 
    animation-duration: 0.8s;
}

.paper> ul > li{
    font-size: 20px;
    font-family: 黑体;

    display: block;
}

.paper-content{
    flex: 1 1;
    position: relative;
    overflow-y: overlay;

    line-height: 2;
    color: rgb(0, 0, 0);
    margin-top: 1em;
    
}

.paper-head {
    width: 100%;
    height: 4rem;
    background-color:#009999;
    box-shadow: 0px 2px 5px 0px #66CCCC;
    z-index: 1;

    display: flex;
    align-items: center;
}

.paper-head > a:link{
    font-size: 2.1rem;
    color: white;

    font-weight: bolder;

    letter-spacing: 0.15em;
    user-select: none;
    text-decoration: none;

    width: 100%;
    text-align: right;
}

.paper-head > a:active{
    color: white;
}

.paper-head > a:visited{
    color: white;
}

.paper-body {
    height: calc(100vh - 4rem);
    display: flex;
}

.paper > .paper-body {
    flex: 1 1;
}

.paper-body > .paper-bar {
    flex: 0 0 12rem;
    background-color: #CCFFFF;
}
 
 .paper-bar > ul{
     list-style: none;
     margin-block-start: unset;
     margin-block-end: unset;
     padding-inline-start: unset;
     padding-top: 1rem;
     padding-left: 1rem;
 
     font-size: 2.1rem;
 }

 .paper-bar > ul > li {
    color: hsl(306 40% 25%);
    letter-spacing: 0.1em;
    padding: 0.1em 0.5em;

    user-select: none;
    position: relative;
}

.paper-bar > ul > li:hover {
    background-color: #66CCCC;
    color: #eee;
}

 .paper-bar >ul >li > a:link{
     display: inline-block;
 
     color: black;
     text-decoration: none;

     font-size: 20px;
     font-family: 黑体;
 }

.btn {
    color: #fff;
    background-color: #009999;
    border-color: #339999;
    width: fit-content;
    font-weight: bold;
    padding: 0.2em 1em;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    letter-spacing: 0.1em;
    user-select: none;
    cursor: pointer;
}

.btn > a:visited,
.btn > a:link {
    color: #fff;
    text-decoration: none;
}

.btn > form {
    margin: unset;
}

.btn > form > input[type="submit"] {
    background-color: unset;
    border: unset;
    color: unset;
    font-size: unset;
    padding: unset;
    appearance: none;
    font-weight: bold;
    cursor: pointer;
}

.btn > form > input[type="submit"]:focus {
    outline: none;
}

td.ctrlbar {
    width: 10em;
}

td.ctrlbar > div {
    display: flex;
}

td.ctrlbar .btn {
    margin: 0 2px;
    padding: 2px 10px;
    font-size: 0.8rem;
}

table.table {
    border-collapse: collapse;
}

.table th,
.table td {
    min-width: 5em;
}

.table tr {
    line-height: 2;
    min-width: 4em;
    width: 8em;
    text-align: center;
}

.table thead > tr:first-child {
    background-color: #009999;
    color: #fff;
    line-height: 2.5;
}

.table tr:hover {
    background-color: #CCFFFF;
}

.table tr:nth-child(odd) {
    background-color: hsl(306 40% 100%);
}

.table tr:nth-child(even) {
    background-color: #CCFFFF;
}

.paper-footer{
    width: 100%;
    text-align: center;
}
