body{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.background{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-size: 100% 100%;
    position: relative;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-body{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: unset;
    margin-top: 200px;

    font-family: 隶书;
    font-size: 35px;
}

.POST{
    text-align: left;
}

input[type="username"]{
    margin: 10px;
    padding: 3px;
    width: 250px; 
    font-family: 隶书;
}

input[type="password"]{
    margin: 10px;
    margin-left: 45px;
    padding: 3px;
    width: 250px;
    font-family: 隶书;
}

.login-type{
    margin-top: 10px;
}

.login-type > label{
    margin-right:230px;
}

.radio{
    margin-left:198px;
}

input[type="submit"]{
    width: 80px;
    height: 35px;
    font-family: 隶书;
    font-size: 24px;
    margin-left: 200px;
    margin-top: 20px;
}