
form.grade-form > input, form.grade-form > select {
    padding: 5px;
    font-size: 1.2em;
}

form.grade-form > select {
    min-width: 8em;
}

td.ctrlbar {
    width: 10em;
}

td.ctrlbar > div {
    display: flex;
}

td.ctrlbar .btn {
    margin: 0 2px;
    padding: 2px 10px;
    font-size: 0.8rem;
}

.page-bar > ul{
    padding: 20px;
    font-size: 16px;
}

.page-bar > ul > li,a:link{
    display: flex;
    text-decoration: none;
    line-height: 35px;
    text-align: left;
}

.page-content > ul > li {
    display: flex;
    line-height: 35px;
    text-align: left;
    font-size: 16px;
}

.dialog-body{
    margin-left: 40px;
    margin-bottom: 10px;
}

.dialog-footer{
    margin-left: 40px;
    margin-top: 30px;
}

#close-btn{
    margin-left: 20px;
}

