<html>
<head>
    <style>
    .panel{
    background-color: turquoise;
    font-size: xx-large;
    font-family: 隶书;
    width: 100%;
    text-align: center;
    margin-top: 305; 
    }  
    </style>
    
  
</head>
<div class="panel">
    <div class="dialog">
        <div class="content">
            <span>{{message}}</span>
        </div>
        <div class="footer">
            <div class="btn">
                <a href="{{return_path}}">返回</a>
            </div>
        </div>
    </div>
</div>

</html>