<html>
    <head>

    </head>
    <body>
        <div class="dialog">
            <div class="content">
                <span>
                    确认删除“{{record.stu_sname}}”的《{{record.cou_cname}}》的成绩({{record.grade}})?
                </span>
            </div>
            <div class="footer">
                <div class="btn">
                    <form action="/action/grade/delete/{{record.stu_sno}}/{{record.cou_cno}}"
                        method="POST">
                        <input type="submit" value="删除"/>
                    </form>
                </div>
                <div class="btn">
                    <a href="/grademanage_info">返回</a>
                </div>
            </div>
        </div>
    </body>
    
</html>