{% extends "stu_base.html" %}

{% block styles %}
{% endblock %}

{% block paperheader %}
<a href="/login">退出登录</a>
{% endblock %}

{% block paperbody %}
<ul>
    {% for items in items %}
    <li>学号： {{items.sno}}</li>
    <br/>
    <li>姓名：{{items.sname}}</li>
    <br/>
    <li>性别：{{items.sgender}}</li>
    <br/>
    <li>年龄：{{items.sage}}</li>
    <br/>
    <li>入学日期：{{items.enrolled}}</li>
    <br/>
    <li>专业：{{items.major}}</li>
    <br/>
    <div class="btn">
    <a href="/passwordchange/student">
        修改密码
    </a>
    </div>
    {% endfor %}
</ul>
{% endblock %}