<html>
    <head>
        <link rel="stylesheet" href="bases.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="paper-head">
            {% block paperheader %}{% endblock %}
        </div>
        <div class="paper-body">
            <div class="paper-bar">
                    <ul>
                        <li>
                            <a href="/stu_planchoose">选择课程</a>
                        </li>
                        <li>
                            <a href="/stu_mycourse">我的课程</a>
                        </li>
                        <li>
                            <a href="/stu_gra_info">我的成绩</a>
                        </li>
                        <li>
                            <a href="/stu_main">个人主页</a>
                        </li>
                    </ul>
                </div>
            <div class="paper-content">
                <div class="paper">   
                {% block paperbody %}{% endblock %}
                </div>
                <div class="paper-footer">
                &copy;j-l-l 2020                
                </div>
            </div>
        </div>
    </body>
</html>