{% extends "tea_base.html" %}

<!--  -->
{% block styles %}{% endblock %}

{% block paperheader %}
<a href="/login">退出登录</a>
{% endblock %}

{% block paperbody %}
<ul>
    {% for items in items %}
    <li>教师号： {{items.tno}}</li>
    <br/>
    <li>姓名：{{items.tname}}</li>
    <br/>
    <li>性别：{{items.tgender}}</li>
    <br/>
    <li>年龄：{{items.tage}}</li>
    <br/>
    <div class="btn">
        <a href="/passwordchange/student">
            修改密码
        </a>
        </div>
    {% endfor %}
</ul>

{% endblock %}