<html>
    <head>
        <link rel="stylesheet" href="/bases.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        
            <div class="paper-head">
                {% block paperheader %}{% endblock %}
            </div>
            <div class="paper-body">
                <div class="paper-bar">
                    <ul>
                        <li>
                            <a href="/tcourseplan_info">课程计划</a>
                        </li>
                        <li>
                            <a href="/student_info">学生信息</a>
                        </li>
                        <li>
                            <a href="/grademanage_info">成绩管理</a>
                        </li>
                        <li>
                            <a href="/tea_main">个人主页</a>
                        </li>
                    </ul>
                </div>
        <div class="paper-content">
            {% block paper_content %}{% endblock %}
            <div class="paper">
            {% block paperbody %}{% endblock %}
            </div>
            <div class="paper-footer">
                &copy;j-l-l 2020                
           </div>
        </div>
    </body>
</html>